 .mpc-typography--mpc_preset_17{color:#333333;font-family:"Raleway" !important;font-size:16px;font-style:normal !important;font-weight:700 !important;line-height:1;text-align:center;text-transform:uppercase;}
	
	
	   .mpc-tabs[id="mpc_tabs-775926c52c782cf"] {
	padding: 30px;
	margin-right: 10px;
	margin-left: 20px;
	background: #ffffff;
}
.mpc-tabs[id="mpc_tabs-775926c52c782cf"] .mpc-tab {
	padding-top: 20px;
	padding-right: 0px;
	padding-left: 0px;
	color: #6b6b6b;
	font-size: 16px;
	line-height: 1.75;
	text-align: left;
	text-transform: none;
}
.mpc-tabs[id="mpc_tabs-775926c52c782cf"] .mpc-tabs__nav-item {
	margin-right: 20px;
}
.mpc-tabs[id="mpc_tabs-775926c52c782cf"].mpc-tabs--decor-line .mpc-tabs__content, .mpc-tabs[id="mpc_tabs-775926c52c782cf"] .mpc-tabs__nav-item {
	border-color: #dddddd;
	border-width: 2px;
}
.mpc-tabs[id="mpc_tabs-775926c52c782cf"].mpc-tabs--decor-line .mpc-tabs__nav {
	margin: -2px;
}
.mpc-tabs[id="mpc_tabs-775926c52c782cf"] .mpc-tabs__nav-item {
	padding: 5px;
}
.mpc-tabs[id="mpc_tabs-775926c52c782cf"].mpc-tabs--decor-line .mpc-tabs__nav-item:after {
	width: 2px;
	height: 2px;
	margin: -2px;
	background-color: #0072bb;
}
.mpc-button[data-id="mpc_button-585926c52c78662"] {
	color: #707070;
	font-size: 18px;
	text-align: center;
	text-transform: capitalize;
}
.mpc-button[data-id="mpc_button-585926c52c78662"] .mpc-button__icon {
	padding-bottom: 10px;
	color: #0072bb;
}
.mpc-button[data-id="mpc_button-585926c52c78662"] .mpc-button__title {
	padding-bottom: 10px;
}
.mpc-button[data-id="mpc_button-585926c52c78662"]:hover .mpc-button__title, .mpc-parent-hover:hover .mpc-button[data-id="mpc_button-585926c52c78662"] .mpc-button__title, .mpc-active .mpc-button[data-id="mpc_button-585926c52c78662"] .mpc-button__title {
	color: #0072bb;
}
.mpc-button[data-id="mpc_button-895926c52c7a353"] {
	color: #707070;
	font-size: 18px;
	text-align: center;
	text-transform: capitalize;
}
.mpc-button[data-id="mpc_button-895926c52c7a353"] .mpc-button__icon {
	padding-bottom: 10px;
	color: #333333;
}
.mpc-button[data-id="mpc_button-895926c52c7a353"] .mpc-button__title {
	padding-bottom: 10px;
}
.mpc-button[data-id="mpc_button-895926c52c7a353"]:hover .mpc-button__title, .mpc-parent-hover:hover .mpc-button[data-id="mpc_button-895926c52c7a353"] .mpc-button__title, .mpc-active .mpc-button[data-id="mpc_button-895926c52c7a353"] .mpc-button__title {
	color: #0072bb;
}
.mpc-button[data-id="mpc_button-275926c52c7be00"] {
	color: #707070;
	font-size: 18px;
	text-align: center;
	text-transform: capitalize;
}
.mpc-button[data-id="mpc_button-275926c52c7be00"] .mpc-button__icon {
	padding-bottom: 10px;
	color: #333333;
}
.mpc-button[data-id="mpc_button-275926c52c7be00"] .mpc-button__title {
	padding-bottom: 10px;
}
.mpc-button[data-id="mpc_button-275926c52c7be00"]:hover .mpc-button__title, .mpc-parent-hover:hover .mpc-button[data-id="mpc_button-275926c52c7be00"] .mpc-button__title, .mpc-active .mpc-button[data-id="mpc_button-275926c52c7be00"] .mpc-button__title {
	color: #0072bb;
}
.mpc-button[data-id="mpc_button-195926c52c7d81e"] {
	color: #707070;
	font-size: 18px;
	text-align: center;
	text-transform: capitalize;
}
.mpc-button[data-id="mpc_button-195926c52c7d81e"] .mpc-button__icon {
	padding-bottom: 10px;
	color: #333333;
}
.mpc-button[data-id="mpc_button-195926c52c7d81e"] .mpc-button__title {
	padding-bottom: 10px;
}
.mpc-button[data-id="mpc_button-195926c52c7d81e"]:hover .mpc-button__title, .mpc-parent-hover:hover .mpc-button[data-id="mpc_button-195926c52c7d81e"] .mpc-button__title, .mpc-active .mpc-button[data-id="mpc_button-195926c52c7d81e"] .mpc-button__title {
	color: #0072bb;
}
.mpc-button[data-id="mpc_button-825926c52c7f18f"] {
	color: #707070;
	font-size: 18px;
	text-align: center;
	text-transform: capitalize;
}
.mpc-button[data-id="mpc_button-825926c52c7f18f"] .mpc-button__icon {
	padding-bottom: 10px;
	color: #333333;
}
.mpc-button[data-id="mpc_button-825926c52c7f18f"] .mpc-button__title {
	padding-bottom: 10px;
}
.mpc-button[data-id="mpc_button-825926c52c7f18f"]:hover .mpc-button__title, .mpc-parent-hover:hover .mpc-button[data-id="mpc_button-825926c52c7f18f"] .mpc-button__title, .mpc-active .mpc-button[data-id="mpc_button-825926c52c7f18f"] .mpc-button__title {
	color: #0072bb;
}
.mpc-textblock[id="mpc_textblock-715926c52c83890"] {
	max-width: 100%;
	margin-left: 0%;
	margin-right: 0%;
}
.mpc-textblock[id="mpc_textblock-655926c52c83f33"] {
	max-width: 100%;
	margin-left: 0%;
	margin-right: 0%;
}
.mpc-timeline-basic[id="mpc_timeline_basic-565926c52c8b018"] .mpc-timeline-item__wrap {
	margin-bottom: 50px;
}
.mpc-timeline-basic[id="mpc_timeline_basic-565926c52c8b018"] .mpc-timeline-item__wrap:nth-child(4) {
	margin-top: 60px;
}
.mpc-timeline-basic[id="mpc_timeline_basic-565926c52c8b018"] .mpc-timeline-item__wrap {
	padding-left: 150.5px;
	padding-right: 150.5px;
}
.mpc-timeline-basic[id="mpc_timeline_basic-565926c52c8b018"] .mpc-tl-before {
	border-width: 2px;
	width: 150.5px;
	border-color: #10548ccf;
}
.mpc-timeline-basic[id="mpc_timeline_basic-565926c52c8b018"] .mpc-timeline__track {
	width: 2px;
	margin-left: -0.5px;
	background: #1d5e93;
}
.mpc-timeline-basic[id="mpc_timeline_basic-565926c52c8b018"] .mpc-timeline__track:before {
	top: -;
	height: ;
	background-image: linear-gradient( #1d5d93e0, rgba( 0, 0, 0, 0) 90%);
}
.mpc-timeline-basic[id="mpc_timeline_basic-565926c52c8b018"] .mpc-timeline__track:after {
	bottom: -30px;
	height: 30px;
	background-image: linear-gradient( #1d5d93e0, rgba( 0, 0, 0, 0) 90%);
}
.mpc-timeline-basic[id="mpc_timeline_basic-565926c52c8b018"] .mpc-track__icon {
	color: #1c6cac;
    font-size: 10px;
    border-width: 2px;
    border-color: rgba(12, 82, 138, 0.98);
    border-style: solid;
    border-radius: 45px;
    padding: 10px;
    margin-left: -18px ! important;
}
.mpc-icon[data-id="mpc_icon-175926c52c8c673"] {
    border-width: 2px;
    border-color: #10548ccf;
    border-style: solid;
    border-radius: 30px;
    padding: 4px;
    background: #fff;
}
}
.mpc-timeline-basic[id="mpc_timeline_basic-565926c52c8b018"] {
	margin-top: ;
	margin-bottom: ;
	padding-top: 60px;
}
.mpc-timeline-item{
	    border-width: 5px;
    
    border-radius: 5px;
    padding-top: 30px;
    padding-right: 29px;
    padding-bottom: 22px;
    padding-left: 29px;
    background-color: #fff;
    box-shadow: 2px 2px 14px;
}
}
.mpc-timeline-item__wrap:hover .mpc-timeline-item[data-id="mpc_timeline_item-75926c52c8b564"] {
	border-width: 5px;
	border-color: #178CE8;
	border-style: solid;
	background: rgba(255, 102, 0, 0.19);
}
.mpc-timeline-item .mpc-timeline-item__heading {
	color: #000;
	font-size: 17px;
	line-height: 1.3;
	text-align: center;
}
.mpc-timeline-item .mpc-timeline-item__description {
	margin-bottom: 0px;
	color: #000;
	font-size: 15px;
	line-height: 1.5;
	text-align: center;
	text-transform: none;
}
.mpc-timeline-item[data-id="mpc_timeline_item-75926c52c8b564"] .mpc-tl-before {
	border-color: #10548ccf;
}
.mpc-timeline-item__wrap:hover .mpc-timeline-item[data-id="mpc_timeline_item-75926c52c8b564"] .mpc-tl-before {
	border-color: #ff8f44;
}
.mpc-icon[data-id="mpc_icon-925926c52c8b6ba"] {
	border-width: 2px;
    border-color: #10548ccf;
    border-style: solid;
    border-radius: 30px;
    padding: 4px;
    background: #fefefe;

}
.mpc-icon[data-id="mpc_icon-925926c52c8b6ba"] i {
	font-size: 0px;
}
.mpc-icon.mpc-icon-hover[data-id="mpc_icon-925926c52c8b6ba"]:hover, .mpc-parent-hover:hover .mpc-icon.mpc-icon-hover[data-id="mpc_icon-925926c52c8b6ba"], .mpc-active .mpc-icon.mpc-icon-hover[data-id="mpc_icon-925926c52c8b6ba"] {
	border-color: rgba(70, 214, 171, 0.8);
	background: #178CE8;
}
.mpc-icon.mpc-icon-hover[data-id="mpc_icon-925926c52c8b6ba"]:hover i, .mpc-parent-hover:hover .mpc-icon.mpc-icon-hover[data-id="mpc_icon-925926c52c8b6ba"] i, .mpc-active .mpc-icon.mpc-icon-hover[data-id="mpc_icon-925926c52c8b6ba"] i {
	color: #178CE8;
}
.mpc-icon[data-id="mpc_icon-695926c52c8b7d2"] i {
	font-size: 50px;
	color: #ff934c;
}
.mpc-icon.mpc-icon-hover[data-id="mpc_icon-695926c52c8b7d2"]:hover i, .mpc-parent-hover:hover .mpc-icon.mpc-icon-hover[data-id="mpc_icon-695926c52c8b7d2"] i, .mpc-active .mpc-icon.mpc-icon-hover[data-id="mpc_icon-695926c52c8b7d2"] i {
	color: #ff7011;
}
.mpc-divider-wrap[data-id="mpc_divider-485926c52c8b8bf"] {
	padding-top: 10px;
}
.mpc-divider-wrap[data-id="mpc_divider-485926c52c8b8bf"] .mpc-divider {
	width: 10%;
}
.mpc-divider-wrap[data-id="mpc_divider-485926c52c8b8bf"] .mpc-divider__line>span {
	border-top-style: solid;
	border-top-color: #178CE8;
	border-top-width: 1px;
	margin-top: 1px;
}
.mpc-divider-wrap[data-id="mpc_divider-485926c52c8b8bf"] .mpc-divider__line.mpc-side--left {
	width: 50%;
}
.mpc-divider-wrap[data-id="mpc_divider-485926c52c8b8bf"] .mpc-divider__line.mpc-side--right {
	width: 50%;
}

.mpc-icon[data-id="mpc_icon-525926c52c8bec2"] {
	border-width: 2px;
	border-color: #10548ccf;
	border-style: solid;
	border-radius: 30px;
	padding: 4px;
	background: #fff;
}
.mpc-icon[data-id="mpc_icon-525926c52c8bec2"] i {
	font-size: 0px;
}
.mpc-icon.mpc-icon-hover[data-id="mpc_icon-525926c52c8bec2"]:hover, .mpc-parent-hover:hover .mpc-icon.mpc-icon-hover[data-id="mpc_icon-525926c52c8bec2"], .mpc-active .mpc-icon.mpc-icon-hover[data-id="mpc_icon-525926c52c8bec2"] {
	border-color: rgba(70, 214, 171, 0.8);
	background: #178CE8;
}
.mpc-icon.mpc-icon-hover[data-id="mpc_icon-525926c52c8bec2"]:hover i, .mpc-parent-hover:hover .mpc-icon.mpc-icon-hover[data-id="mpc_icon-525926c52c8bec2"] i, .mpc-active .mpc-icon.mpc-icon-hover[data-id="mpc_icon-525926c52c8bec2"] i {
	color: #178CE8;
}
.mpc-icon[data-id="mpc_icon-295926c52c8bfcc"] i {
	font-size: 50px;
	color: #ff934c;
}
.mpc-icon.mpc-icon-hover[data-id="mpc_icon-295926c52c8bfcc"]:hover i, .mpc-parent-hover:hover .mpc-icon.mpc-icon-hover[data-id="mpc_icon-295926c52c8bfcc"] i, .mpc-active .mpc-icon.mpc-icon-hover[data-id="mpc_icon-295926c52c8bfcc"] i {
	color: #ff7011;
}
.mpc-divider-wrap[data-id="mpc_divider-335926c52c8c0a2"] {
	padding-top: 10px;
}
.mpc-divider-wrap[data-id="mpc_divider-335926c52c8c0a2"] .mpc-divider {
	width: 10%;
}
.mpc-divider-wrap[data-id="mpc_divider-335926c52c8c0a2"] .mpc-divider__line>span {
	border-top-style: solid;
	border-top-color: #178CE8;
	border-top-width: 1px;
	margin-top: 1px;
}
.mpc-divider-wrap[data-id="mpc_divider-335926c52c8c0a2"] .mpc-divider__line.mpc-side--left {
	width: 50%;
}
.mpc-divider-wrap[data-id="mpc_divider-335926c52c8c0a2"] .mpc-divider__line.mpc-side--right {
	width: 50%;
}

.mpc-icon[data-id="mpc_icon-175926c52c8c673"] i {
	font-size: 0px;
}
.mpc-icon.mpc-icon-hover[data-id="mpc_icon-175926c52c8c673"]:hover, .mpc-parent-hover:hover .mpc-icon.mpc-icon-hover[data-id="mpc_icon-175926c52c8c673"], .mpc-active .mpc-icon.mpc-icon-hover[data-id="mpc_icon-175926c52c8c673"] {
	border-color: rgba(70, 214, 171, 0.8);
	background: #178CE8;
}
.mpc-icon.mpc-icon-hover[data-id="mpc_icon-175926c52c8c673"]:hover i, .mpc-parent-hover:hover .mpc-icon.mpc-icon-hover[data-id="mpc_icon-175926c52c8c673"] i, .mpc-active .mpc-icon.mpc-icon-hover[data-id="mpc_icon-175926c52c8c673"] i {
	color: #178CE8;
}
.mpc-icon[data-id="mpc_icon-325926c52c8c776"] i {
	font-size: 50px;
	color: #ff934c;
}
.mpc-icon.mpc-icon-hover[data-id="mpc_icon-325926c52c8c776"]:hover i, .mpc-parent-hover:hover .mpc-icon.mpc-icon-hover[data-id="mpc_icon-325926c52c8c776"] i, .mpc-active .mpc-icon.mpc-icon-hover[data-id="mpc_icon-325926c52c8c776"] i {
	color: #ff7011;
}
.mpc-divider-wrap[data-id="mpc_divider-845926c52c8c852"] {
	padding-top: 10px;
}
.mpc-divider-wrap[data-id="mpc_divider-845926c52c8c852"] .mpc-divider {
	width: 10%;
}
.mpc-divider-wrap[data-id="mpc_divider-845926c52c8c852"] .mpc-divider__line>span {
	border-top-style: solid;
	border-top-color: #178CE8;
	border-top-width: 1px;
	margin-top: 1px;
}
.mpc-divider-wrap[data-id="mpc_divider-845926c52c8c852"] .mpc-divider__line.mpc-side--left {
	width: 50%;
}
.mpc-divider-wrap[data-id="mpc_divider-845926c52c8c852"] .mpc-divider__line.mpc-side--right {
	width: 50%;
}

.mpc-icon[data-id="mpc_icon-75926c52c8ce22"] {
	border-width: 2px;
	border-color: #10548ccf;
	border-style: solid;
	border-radius: 30px;
	padding: 4px;
	background: #fff;
}
.mpc-icon[data-id="mpc_icon-75926c52c8ce22"] i {
	font-size: 0px;
}
.mpc-icon.mpc-icon-hover[data-id="mpc_icon-75926c52c8ce22"]:hover, .mpc-parent-hover:hover .mpc-icon.mpc-icon-hover[data-id="mpc_icon-75926c52c8ce22"], .mpc-active .mpc-icon.mpc-icon-hover[data-id="mpc_icon-75926c52c8ce22"] {
	border-color: rgba(70, 214, 171, 0.8);
	background: #178CE8;
}
.mpc-icon.mpc-icon-hover[data-id="mpc_icon-75926c52c8ce22"]:hover i, .mpc-parent-hover:hover .mpc-icon.mpc-icon-hover[data-id="mpc_icon-75926c52c8ce22"] i, .mpc-active .mpc-icon.mpc-icon-hover[data-id="mpc_icon-75926c52c8ce22"] i {
	color: #178CE8;
}
.mpc-icon[data-id="mpc_icon-265926c52c8cf25"] i {
	font-size: 50px;
	color: #ff934c;
}
.mpc-icon.mpc-icon-hover[data-id="mpc_icon-265926c52c8cf25"]:hover i, .mpc-parent-hover:hover .mpc-icon.mpc-icon-hover[data-id="mpc_icon-265926c52c8cf25"] i, .mpc-active .mpc-icon.mpc-icon-hover[data-id="mpc_icon-265926c52c8cf25"] i {
	color: #ff7011;
}
.mpc-divider-wrap[data-id="mpc_divider-345926c52c8d000"] {
	padding-top: 10px;
}
.mpc-divider-wrap[data-id="mpc_divider-345926c52c8d000"] .mpc-divider {
	width: 10%;
}
.mpc-divider-wrap[data-id="mpc_divider-345926c52c8d000"] .mpc-divider__line>span {
	border-top-style: solid;
	border-top-color: #178CE8;
	border-top-width: 1px;
	margin-top: 1px;
}
.mpc-divider-wrap[data-id="mpc_divider-345926c52c8d000"] .mpc-divider__line.mpc-side--left {
	width: 50%;
}
.mpc-divider-wrap[data-id="mpc_divider-345926c52c8d000"] .mpc-divider__line.mpc-side--right {
	width: 50%;
}

.mpc-divider-wrap[data-id="mpc_divider-825926c52c8d7aa"] .mpc-divider__line.mpc-side--left {
	width: 50%;
}
.mpc-divider-wrap[data-id="mpc_divider-825926c52c8d7aa"] .mpc-divider__line.mpc-side--right {
	width: 50%;
}
.mpc-timeline-item[data-id="mpc_timeline_item-45926c52c8dc4c"] {
	border-width: 5px;
	border-color: rgba(255, 102, 0, 0.64);
	border-style: solid;
	border-radius: 15px;
	padding-top: 30px;
	padding-right: 29px;
	padding-bottom: 22px;
	padding-left: 29px;
}
.mpc-timeline-item__wrap:hover .mpc-timeline-item[data-id="mpc_timeline_item-45926c52c8dc4c"] {
	border-width: 5px;
	border-color: #178CE8;
	border-style: solid;
	background: rgba(255, 102, 0, 0.19);
}
.mpc-timeline-item[data-id="mpc_timeline_item-45926c52c8dc4c"] .mpc-timeline-item__heading {
	color: #178CE8;
	font-size: 18px;
	line-height: 1.3;
	text-align: center;
}
.mpc-timeline-item[data-id="mpc_timeline_item-45926c52c8dc4c"] .mpc-timeline-item__description {
	margin-bottom: 0px;
	color: #178CE8;
	font-size: 15px;
	line-height: 1.5;
	text-align: center;
	text-transform: none;
}
.mpc-timeline-item[data-id="mpc_timeline_item-45926c52c8dc4c"] .mpc-tl-before {
	border-color: #178CE8;
}
.mpc-timeline-item__wrap:hover .mpc-timeline-item[data-id="mpc_timeline_item-45926c52c8dc4c"] .mpc-tl-before {
	border-color: #ff8f44;
}
.mpc-icon[data-id="mpc_icon-775926c52c8dd7d"] {
	border-width: 2px;
	border-color: #178CE8;
	border-style: solid;
	border-radius: 30px;
	padding: 4px;
	background: #242424;
}
.mpc-icon[data-id="mpc_icon-775926c52c8dd7d"] i {
	font-size: 0px;
}
.mpc-icon.mpc-icon-hover[data-id="mpc_icon-775926c52c8dd7d"]:hover, .mpc-parent-hover:hover .mpc-icon.mpc-icon-hover[data-id="mpc_icon-775926c52c8dd7d"], .mpc-active .mpc-icon.mpc-icon-hover[data-id="mpc_icon-775926c52c8dd7d"] {
	border-color: rgba(70, 214, 171, 0.8);
	background: #178CE8;
}
.mpc-icon.mpc-icon-hover[data-id="mpc_icon-775926c52c8dd7d"]:hover i, .mpc-parent-hover:hover .mpc-icon.mpc-icon-hover[data-id="mpc_icon-775926c52c8dd7d"] i, .mpc-active .mpc-icon.mpc-icon-hover[data-id="mpc_icon-775926c52c8dd7d"] i {
	color: #178CE8;
}
.mpc-icon[data-id="mpc_icon-155926c52c8de80"] i {
	font-size: 50px;
	color: #ff934c;
}
.mpc-icon.mpc-icon-hover[data-id="mpc_icon-155926c52c8de80"]:hover i, .mpc-parent-hover:hover .mpc-icon.mpc-icon-hover[data-id="mpc_icon-155926c52c8de80"] i, .mpc-active .mpc-icon.mpc-icon-hover[data-id="mpc_icon-155926c52c8de80"] i {
	color: #ff7011;
}
.mpc-divider-wrap[data-id="mpc_divider-845926c52c8df5f"] {
	padding-top: 10px;
}
.mpc-divider-wrap[data-id="mpc_divider-845926c52c8df5f"] .mpc-divider {
	width: 10%;
}
.mpc-divider-wrap[data-id="mpc_divider-845926c52c8df5f"] .mpc-divider__line>span {
	border-top-style: solid;
	border-top-color: #178CE8;
	border-top-width: 1px;
	margin-top: 1px;
}
.mpc-divider-wrap[data-id="mpc_divider-845926c52c8df5f"] .mpc-divider__line.mpc-side--left {
	width: 50%;
}
.mpc-divider-wrap[data-id="mpc_divider-845926c52c8df5f"] .mpc-divider__line.mpc-side--right {
	width: 50%;
}
.mpc-timeline-item[data-id="mpc_timeline_item-105926c52c8e3fe"] {
	border-width: 5px;
	border-color: rgba(255, 102, 0, 0.64);
	border-style: solid;
	border-radius: 15px;
	padding-top: 30px;
	padding-right: 29px;
	padding-bottom: 22px;
	padding-left: 29px;
}
.mpc-timeline-item__wrap:hover .mpc-timeline-item[data-id="mpc_timeline_item-105926c52c8e3fe"] {
	border-width: 5px;
	border-color: #178CE8;
	border-style: solid;
	background: rgba(255, 102, 0, 0.19);
}
.mpc-timeline-item[data-id="mpc_timeline_item-105926c52c8e3fe"] .mpc-timeline-item__heading {
	color: #178CE8;
	font-size: 18px;
	line-height: 1.3;
	text-align: center;
}
.mpc-timeline-item[data-id="mpc_timeline_item-105926c52c8e3fe"] .mpc-timeline-item__description {
	margin-bottom: 0px;
	color: #178CE8;
	font-size: 15px;
	line-height: 1.5;
	text-align: center;
	text-transform: none;
}
.mpc-timeline-item[data-id="mpc_timeline_item-105926c52c8e3fe"] .mpc-tl-before {
	border-color: #178CE8;
}
.mpc-timeline-item__wrap:hover .mpc-timeline-item[data-id="mpc_timeline_item-105926c52c8e3fe"] .mpc-tl-before {
	border-color: #ff8f44;
}
.mpc-icon[data-id="mpc_icon-185926c52c8e52d"] {
	border-width: 2px;
	border-color: #178CE8;
	border-style: solid;
	border-radius: 30px;
	padding: 4px;
	background: #242424;
}
.mpc-icon[data-id="mpc_icon-185926c52c8e52d"] i {
	font-size: 0px;
}
.mpc-icon.mpc-icon-hover[data-id="mpc_icon-185926c52c8e52d"]:hover, .mpc-parent-hover:hover .mpc-icon.mpc-icon-hover[data-id="mpc_icon-185926c52c8e52d"], .mpc-active .mpc-icon.mpc-icon-hover[data-id="mpc_icon-185926c52c8e52d"] {
	border-color: rgba(70, 214, 171, 0.8);
	background: #178CE8;
}
.mpc-icon.mpc-icon-hover[data-id="mpc_icon-185926c52c8e52d"]:hover i, .mpc-parent-hover:hover .mpc-icon.mpc-icon-hover[data-id="mpc_icon-185926c52c8e52d"] i, .mpc-active .mpc-icon.mpc-icon-hover[data-id="mpc_icon-185926c52c8e52d"] i {
	color: #178CE8;
}
.mpc-icon[data-id="mpc_icon-375926c52c8e630"] i {
	font-size: 50px;
	color: #ff934c;
}
.mpc-icon.mpc-icon-hover[data-id="mpc_icon-375926c52c8e630"]:hover i, .mpc-parent-hover:hover .mpc-icon.mpc-icon-hover[data-id="mpc_icon-375926c52c8e630"] i, .mpc-active .mpc-icon.mpc-icon-hover[data-id="mpc_icon-375926c52c8e630"] i {
	color: #ff7011;
}
.mpc-divider-wrap[data-id="mpc_divider-425926c52c8e705"] {
	padding-top: 10px;
}
.mpc-divider-wrap[data-id="mpc_divider-425926c52c8e705"] .mpc-divider {
	width: 10%;
}
.mpc-divider-wrap[data-id="mpc_divider-425926c52c8e705"] .mpc-divider__line>span {
	border-top-style: solid;
	border-top-color: #178CE8;
	border-top-width: 1px;
	margin-top: 1px;
}
.mpc-divider-wrap[data-id="mpc_divider-425926c52c8e705"] .mpc-divider__line.mpc-side--left {
	width: 50%;
}
.mpc-divider-wrap[data-id="mpc_divider-425926c52c8e705"] .mpc-divider__line.mpc-side--right {
	width: 50%;
}
.mpc-timeline-item[data-id="mpc_timeline_item-405926c52c8ebb1"] {
	border-width: 5px;
	border-color: rgba(255, 102, 0, 0.64);
	border-style: solid;
	border-radius: 15px;
	padding-top: 30px;
	padding-right: 29px;
	padding-bottom: 22px;
	padding-left: 29px;
}
.mpc-timeline-item__wrap:hover .mpc-timeline-item[data-id="mpc_timeline_item-405926c52c8ebb1"] {
	border-width: 5px;
	border-color: #178CE8;
	border-style: solid;
	background: rgba(255, 102, 0, 0.19);
}
.mpc-timeline-item[data-id="mpc_timeline_item-405926c52c8ebb1"] .mpc-timeline-item__heading {
	color: #178CE8;
	font-size: 18px;
	line-height: 1.3;
	text-align: center;
}
.mpc-timeline-item[data-id="mpc_timeline_item-405926c52c8ebb1"] .mpc-timeline-item__description {
	margin-bottom: 0px;
	color: #178CE8;
	font-size: 15px;
	line-height: 1.5;
	text-align: center;
	text-transform: none;
}
.mpc-timeline-item[data-id="mpc_timeline_item-405926c52c8ebb1"] .mpc-tl-before {
	border-color: #178CE8;
}
.mpc-timeline-item__wrap:hover .mpc-timeline-item[data-id="mpc_timeline_item-405926c52c8ebb1"] .mpc-tl-before {
	border-color: #ff8f44;
}
.mpc-icon[data-id="mpc_icon-365926c52c8ece0"] {
	border-width: 2px;
	border-color: #178CE8;
	border-style: solid;
	border-radius: 30px;
	padding: 4px;
	background: #242424;
}
.mpc-icon[data-id="mpc_icon-365926c52c8ece0"] i {
	font-size: 0px;
}
.mpc-icon.mpc-icon-hover[data-id="mpc_icon-365926c52c8ece0"]:hover, .mpc-parent-hover:hover .mpc-icon.mpc-icon-hover[data-id="mpc_icon-365926c52c8ece0"], .mpc-active .mpc-icon.mpc-icon-hover[data-id="mpc_icon-365926c52c8ece0"] {
	border-color: rgba(70, 214, 171, 0.8);
	background: #178CE8;
}
.mpc-icon.mpc-icon-hover[data-id="mpc_icon-365926c52c8ece0"]:hover i, .mpc-parent-hover:hover .mpc-icon.mpc-icon-hover[data-id="mpc_icon-365926c52c8ece0"] i, .mpc-active .mpc-icon.mpc-icon-hover[data-id="mpc_icon-365926c52c8ece0"] i {
	color: #178CE8;
}
.mpc-icon[data-id="mpc_icon-985926c52c8ede4"] i {
	font-size: 50px;
	color: #ff934c;
}
.mpc-icon.mpc-icon-hover[data-id="mpc_icon-985926c52c8ede4"]:hover i, .mpc-parent-hover:hover .mpc-icon.mpc-icon-hover[data-id="mpc_icon-985926c52c8ede4"] i, .mpc-active .mpc-icon.mpc-icon-hover[data-id="mpc_icon-985926c52c8ede4"] i {
	color: #ff7011;
}
.mpc-divider-wrap[data-id="mpc_divider-465926c52c8eebb"] {
	padding-top: 10px;
}
.mpc-divider-wrap[data-id="mpc_divider-465926c52c8eebb"] .mpc-divider {
	width: 10%;
}
.mpc-divider-wrap[data-id="mpc_divider-465926c52c8eebb"] .mpc-divider__line>span {
	border-top-style: solid;
	border-top-color: #178CE8;
	border-top-width: 1px;
	margin-top: 1px;
}
.mpc-divider-wrap[data-id="mpc_divider-465926c52c8eebb"] .mpc-divider__line.mpc-side--left {
	width: 50%;
}
.mpc-divider-wrap[data-id="mpc_divider-465926c52c8eebb"] .mpc-divider__line.mpc-side--right {
	width: 50%;
}